<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plugin.collect.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.plugin.collect.model.UserModel">
        <id column="id" property="id" />
        <id column="company_id" property="companyId" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="email" property="email" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id, company_id,name, age, email, created_at FROM user
    </select>

    <select id="queryListByCompanyId" resultMap="BaseResultMap">
        SELECT id, company_id,name, age, email, created_at FROM user WHERE company_id = #{companyId}
    </select>
</mapper>
